{% if page.tipue_search_active or layout.tipue_search_active %}
<!--
<link rel="stylesheet" href="{{site.url}}/assets/tipuesearch/css/normalize.css">
<link rel="stylesheet" href="{{site.url}}/assets/tipuesearch/tipuesearch.css">
-->
<script src="{{'/assets/tipuesearch/tipuesearch_content.js' | absolute_url}}"></script>
<script src="{{'/assets/tipuesearch/tipuesearch_set.js' | absolute_url}}" ></script>
<script src="{{'/assets/tipuesearch/tipuesearch.min.js' | absolute_url}}" ></script>
{% endif %}