<aside class="left_sidebar page_sidebar hide_small">
  <div class="filters ">
    <b>Arrange by:</b>
    <span class="choice years" data-type="years">Date</span>
    <span class="choice categories" data-type="categories">Category</span>
    <span class="choice tags" data-type="tags">Tag</span>
    <span class="choice active all" data-type="all">All</span>
    <hr>
  </div>
  <!-- grouped by year -->
  {% assign postsByYear =
    site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  <div class="post_aside post_years pal hidden">
    <!-- <h2 class="post-list-heading">Posts by years</h2> -->
    <div class="post-list">
      {% for year in postsByYear %}
      <details>
        <summary class="post-meta">{{ year.name }}</summary>
        {% for post in year.items %}
        <a class="post_link" href="{{post.url | absolute_url}}">
          {{ post.title | escape }}
        </a>
        {% endfor %}
      </details>
      {% endfor %}
    </div>
  </div>
 

  <!-- Grouped by categories -->
  <div class="post_aside post_categories pal hidden">
    <b>Categories</b>
    {% assign categories = site.categories | sort %}
    {% assign cats = site.posts | map: "categories" | uniq | sort %}
    {% for cat in cats %}
    {% for category in categories %}
    {% if category[0] == cat %}
    <details>
      <summary>{{ cat }}</summary>
      {% for post in category[1] %}
      <a class="post_link" href="{{post.url | absolute_url}}">{{ post.title }}</a>
      {% endfor %}
    </details>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>

  <!-- By tags -->

  <div class="post_aside post_tags pal hidden">
    <b>Tags</b>
    {% assign tags = site.posts | map: "tags" | uniq | sort %}
    {% assign tags_arr = site.tags | sort %}

    {% for tag in tags %}
    {% for tag_arr in tags_arr %}
    {% if tag_arr[0] == tag %}
    <details>
      <summary>{{ tag }}</summary>
      <!--  <summary>{{ tag[0] }}</summary> -->
      {% for post in tag_arr[1] %}
      <a class="post_link" href="{{post.url | absolute_url}}">{{ post.title }}</a>
      {% endfor %}
    </details>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </div>

  <!-- All posts list -->
  <div class="post_aside post_all pal default">
    <!-- <h2>All Posts:</h2> -->
    {% for post in site.posts | sort_by: date | reverse %}
    <a href="{{post.url | absolute_url}}" class="post_link
            {% if post.url == page.url %} active{% endif %}">
      {{post.title}}</a>
    {% endfor %}
  </div>

</aside>