<aside class="left_sidebar page_sidebar">
  <div class="filters">
    <span class="choice active all" data-type="all">All</span>
    <span class="choice tags" data-type="tags">Tags</span>
    <span class="choice categories" data-type="categories">Categories</span>
    <span class="choice years" data-type="years">Years</span>
  </div>
  <div class="post_aside post_all pal ">
    <h2>All Posts:</h2>
    {% for post in site.posts %}
      <a href="{{post.url | absolute_url}}">{{post.title}}</a>
    {% endfor %}
  </div>

  <div class="post_aside post_tags pal hidden">
    <h2>Tags</h2>
    {% for tag in site.tags %}
    <details>
      <summary>{{ tag[0] }}</summary>
      {% for post in tag[1] %}
      <a href="{{post.url | absolute_url}}">{{ post.title }}</a>
      {% endfor %}
    </details>
    {% endfor %}
  </div>

  <div class="post_aside post_categories pal hidden">
    <h2>Categories</h2>
    {% for category in site.categories %}
    <details>
      <summary>{{ category[0] }}</summary>
      {% for post in category[1] %}
      <a href="{{post.url | absolute_url}}">{{ post.title }}</a>
      {% endfor %}
    </details>
    {% endfor %}
  </div>
  <div class="post_aside post_years pal hidden">
    {%- if site.posts.size != 0 -%}
    {% assign posts = site.posts %}
    {% assign. last_post = posts | last %}
    {% assign. first_post = posts | first %}
    {% assign bottom_year = last_post.date | truncate: 4, '' %}
    {% assign top_year = first_post.date | truncate: 4, '' %}
    <h2 class="post-list-heading">Posts list</h2>
    <div class="post-list">
      {% for year in (bottom_year..top_year) %}
      <details>
        <summary class="post-meta">{{ year }}</summary>
        {%- for post in site.posts -%}
        {% assign post_year = post.date | truncate: 4, '' | plus: 0 }} %}
        {%- if post_year == year -%}
        <a class="post-link" href="{{post.url | absolute_url}}">
          {{ post.title | escape }}
        </a>
        {%- endif -%}
        {%- endfor -%}
      </details>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</aside>