<aside class="page_sidebar right_sidebar">
  {% if page.titles %}
  <div class="hide_large page_toggler" id="right_toggler">
    <span> &#31;</span>
    <span class="hidden"> &#30;</span>
    <div>Page navigation</div>
  </div>
  <div class="page_nav post_aside hide_small" id="page_nav">
    <h2>Titles:</h2>
    {% for item in page.titles %}
      <a href="#{{item | split: ' ' | join: '-' | downcase | remove: '/' | remove: '(' | remove: ')'}}" class="in_link">{{item}}</a>
    {% endfor %}
  </div>
  {% endif %}
</aside>