---
layout: default
languages: ["en"]
---
<div class="wrapper home_page">
{{ content }}
  <div class="latest_posts">
    {%- if site.posts.size != 0 -%} 
    <h2>Important posts:</h2>
    <ul class="post-list">
      {%- assign date_format = site.date_format -%}
      {% assign posts = site.posts | where: "type","important" %}
       {%- for post in posts -%}
      <li>
        <h3>
          <a class="post_link" href="{{post.url | absolute_url}}">
            {{ post.title | escape }}
          </a> 
        </h3>
        <span class="post-meta">{{ post.date | date_to_string: date_format }}</span>
        {% if post.description %}
        <p>{{post.description}}</p>
        {% else %}
        <p>{{post.excerpt}}</p>
        {% endif %}
      </li>
      {%- endfor -%}
    </ul>
    {% endif %}
  </div>
  </div>
